{
   "name":"{{RANDOM_DOMAIN}}",
   "class":"IN",
   "status":"NOERROR",
   "timestamp":"{{CURRENT_TIMESTAMP}}",
   "data":{
      "answers":[
         {
            "type":"AAAA",
            "name":"{{RANDOM_DOMAIN}}",
            "answer":"{{RANDOM_IPV6_ADDRESS}}"
         },
         {
            "type":"TXT",
            "name":"{{RANDOM_DOMAIN}}",
            "answer":"facebook-domain-verification=22rm551cu4k0ab0bxsw536tlds4h95"
         },
         {
            "type":"MX",
            "name":"{{RANDOM_DOMAIN}}",
            "answer":"alt4.aspmx.l.{{RANDOM_DOMAIN}}"
         },
         {
            "type":"TXT",
            "name":"{{RANDOM_DOMAIN}}",
            "answer":"globalsign-smime-dv=CDYX+XFHUw2wml6/Gb8+59BsH31KzUr6c1l2BPvqKX8="
         },
         {
            "type":"TXT",
            "name":"{{RANDOM_DOMAIN}}",
            "answer":"docusign={{RANDOM_UUID4}}"
         },
         {
            "type":"MX",
            "name":"{{RANDOM_DOMAIN}}",
            "answer":"alt1.aspmx.l.{{RANDOM_DOMAIN}}"
         },
         {
            "type":"SOA",
            "name":"{{RANDOM_DOMAIN}}",
            "ns":"ns1.{{RANDOM_DOMAIN}}",
            "mbox":"dns-admin.{{RANDOM_DOMAIN}}",
            "serial":273481414,
            "refresh":900,
            "retry":900,
            "expire":1800,
            "min_ttl":60
         },
         {
            "type":"CAA",
            "name":"{{RANDOM_DOMAIN}}.",
            "tag":"issue",
            "value":"pki.goog",
            "flag":0
         },
         {
            "type":"MX",
            "name":"{{RANDOM_DOMAIN}}",
            "answer":"aspmx.l.{{RANDOM_DOMAIN}}"
         },
         {
            "type":"NS",
            "name":"{{RANDOM_DOMAIN}}",
            "answer":"ns3.{{RANDOM_DOMAIN}}"
         },
         {
            "type":"MX",
            "name":"{{RANDOM_DOMAIN}}",
            "answer":"alt3.aspmx.l.{{RANDOM_DOMAIN}}"
         },
         {
            "type":"NS",
            "name":"{{RANDOM_DOMAIN}}",
            "answer":"ns4.{{RANDOM_DOMAIN}}"
         },
         {
            "type":"NS",
            "name":"{{RANDOM_DOMAIN}}",
            "answer":"ns2.{{RANDOM_DOMAIN}}"
         },
         {
            "type":"TXT",
            "name":"{{RANDOM_DOMAIN}}",
            "answer":"docusign={{RANDOM_UUID4}}"
         },
         {
            "type":"TXT",
            "name":"{{RANDOM_DOMAIN}}",
            "answer":"v=spf1 include:_spf.{{RANDOM_DOMAIN}} ~all"
         },
         {
            "type":"MX",
            "name":"{{RANDOM_DOMAIN}}",
            "answer":"alt2.aspmx.l.{{RANDOM_DOMAIN}}"
         },
         {
            "type":"A",
            "name":"{{RANDOM_DOMAIN}}",
            "answer":"{{RANDOM_IPV4_ADDRESS}}"
         },
         {
            "type":"NS",
            "name":"{{RANDOM_DOMAIN}}",
            "answer":"ns1.{{RANDOM_DOMAIN}}"
         }
      ]
   }
}
